* {
	margin:0; 
	padding:0;
}

article {
	display: table-cell;
	background-size:cover;
	background-color: rgba(255,255,255, 0.1);
	color: #ffffff;
	

}
body {
	background:#14171b url(images/siteBackground.jpg) no-repeat center top;
	font-family:Arial, Helvetica, sans-serif;
	color:#47494c;
	font-size:10px;
}
a {
	font-size:10px;
	color:#c9d3e1; 
	text-decoration:underline;
}
a:hover {
	font-size:10px;
	color:#c9d3e1; 
	text-decoration:none;
}
.header {
	height:88px;
}
.menu {
	background:url(images/menuBackground.png) repeat-y left top;
	padding:7px;
}
.menu ul {
	margin:0;
	padding:0;
}
.menu ul li {
	padding:0 15px;
}
.menu ul li {
	display:inline;
	list-style:none;
}
.menu a {
	font-size:14px;
	color:#c9d3e1;
	text-decoration:none;
}
.menu a:hover {
	color:#FFFFFF;
} 
.menu .active a {
	color:#FFFFFF
}
.logo {
	float:left;
	font-size:36px;
	color:#c9d3e1;
	font-style:italic;
	padding:15px 0 0 0;
}
.logo span {
	color:#6d6e70;
}
.author {
	font-size:12px;
}
.author a {
	font-size:12px;	
}
.search {
	padding:35px 0 0 0;
	float:right;
	font-size:14px;
	color:#FFFFFF;
}
.search img {
	border:0;
}
.search .searchIcon {
	float:left;
	margin:-7px 0 0 0;
}
.search .searchButton {
	float:right;
}
.userId{
	text-align:right;
	color:#CCCCCC;
}
.mainContainer {
	width:800px;
	margin:0 auto;
	min-height:670px;
}
.shopList {
	background:url(images/menuBackground.png) repeat-y left top;
	margin:20px 0;
}
.shopList ul {
	margin:0;
	padding:0 0 0 4px;
}
.shopList li {
	float:left;
	list-style:none;
	padding:10px 1px;
	background: url(images/picBackground.png) no-repeat left top;
	width:263px;
	height:193px;
	text-align:center;
}
.shopList li img {
	border:0;
	text-align:center;
	padding:10px 0 0 0;
}
.shoesPic {
	height:154px;
}
.shopListTitle {
	font-size:12px;
	color:#c9d3e1;
	float:left;
	padding:0 0 0 15px;
}
.shopListPrice {
	font-size:12px;
	float:right;
	color:#FFFFFF;
	padding:0 20px 0 0;
}
.shopList h2 {
	font-size:14px;
	color:#FFFFFF;
	padding:10px;
}
.footer {
	background:url(images/footerBackground.png) repeat-x left top;
	height:63px;
}
.footerContainer {
	width:800px;
	margin:0 auto;
}
.icons {
	float:left;
	padding:15px 0 0 0;
}
.icons ul {
	margin:0;
	padding:0;
}
.icons ul li {
	display:inline;
	list-style:none;
}
.icons img {
	border:0;
}
.copyright {
	float:right;
	padding:17px 0 0 0;
	text-align:right;
}
.license {
	width:800px;
	margin:0 auto;
	padding:10px 0;
}
.clearfloat {
	clear:both;
	font-size:1px;
	height:0;
	line-height:0;
}




/*form style*/

.form_content{
width:575px;
margin:30px auto;
padding:10px;
background:url(images/form_top_bg.gif) repeat-x top #fff;
}
fieldset{
border:1px #ebebeb solid;
padding:15px 10px 15px 10px;
margin:0 0 10px 0;
}
legend{
color:#FFFFFF;
background-color:#0fcdf6;
padding:2px 5px 2px 5px;
}
legend.optional{
color:#FFFFFF;
background-color:#50c150;
padding:2px 5px 2px 5px;
}


.form-row {
clear: both;
float:left;
padding:5px 5px 5px 5px;
}
.form-row-select {
clear: both;
float:left;
padding:10px 5px 5px 5px;
}
.field-label {
width:150px;
float:left;
line-height:25px;
}
label {
float:left;
color:#666666;
}
label.left{
padding:0 20px 0 5px;
float:left;
color:#666666;
}
.field-widget {
float:left;
}
input.required{
width:300px;
height:22px;
border: 1px solid #95E0EF;
background-color:#f3fcfe;
border-left-width:2px;
padding:5px 0 0 2px;
float:left;
}
input.optional{
width:300px;
height:22px;
border: 1px solid #adedad;
background-color:#f3fef3;
border-left-width:2px;
padding:5px 0 0 2px;
}
select.validate-selection{
width:305px;
height:28px;
border: 1px solid #95E0EF;
background-color:#f3fcfe;
border-left-width:2px;
padding:4px 2px 3px 2px;
float:left;
}
textarea.required{
width:300px;
height:75px;
float:left;
border: 1px solid #95E0EF;
background-color:#f3fcfe;
border-left-width:2px;
}
textarea.optional{
width:300px;
height:75px;
border: 1px solid #adedad;
background-color:#f3fef3;
border-left-width:2px;
}

input.submit{
color:#FFFFFF;
background-color:#0fcdf6;
padding:2px 5px 2px 5px;
cursor:pointer;
border:none;
}
input.reset{
color:#FFFFFF;
background-color:#50c150;
cursor:pointer;
padding:2px 5px 2px 5px;
border:none;
}

input.validation-failed, textarea.validation-failed, select.validation-failed {
border: 1px solid #FF9A7F;
background-color:#FFF2EF;
color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
border: 1px solid #00CC00;
color : #000;
}

.validation-advice {
width:50px;
float:left;
margin:0px 0 0 10px;
padding:0px 0 0 25px;
background:url(images/warning.png) no-repeat left;
color:#FF9A7F;
font-size:10px;
}

.custom-advice {
margin: 5px 0;
padding: 5px;
background-color: #C8AA00;
color : #FFF;
font-weight: bold;
}






